<!-- "C:\Program Files\MongoDB\Server\4.0\bin\mongod.exe" -dbpath mongodbdata -->
<html lang="en">
    <head>
        <script src="/jquery-3.3.1.js"></script>
        
        <title>RageMemes</title>
        <!-- Bootstrap core CSS -->
        <link href="/css/bootstrap.css" rel="stylesheet">
        <!--Bootstrap JS-->
        <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
        <!-- Custom styles for this template -->
        <link href="/css/home.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <script>
            function publicCheck() {
                if (document.getElementById('privateButton').checked) {
                    document.getElementById('ifPublic').style.display = 'block';
                } 
                else if(document.getElementById('publicButton').checked) {
                    document.getElementById('ifPublic').style.display = 'none';
               }
            }
        </script>
                    
        <script>
            function previewFile() {
                var preview = document.querySelector('img[id=preview]');
                var file = document.querySelector('input[id=uploadMemePic]').files[0];
                var reader = new FileReader();

                reader.onloadend = function() {
                    preview.src = reader.result;
                    preview.width = 250;
                    preview.height = 250;
                    preview.style.display = "block";
                }
                if (file) {
                    reader.readAsDataURL(file);
                } else {
                    preview.src = "";
                }
            }
            previewFile();
        </script>
                    
        <script>
            function previewAvatarFile() {
                var previewAvatar = document.querySelector('img[id=previewAvatar]');
                var file = document.querySelector('input[id=uploadAvatarPic]').files[0];
                var reader = new FileReader();

                reader.onloadend = function() {
                    previewAvatar.src = reader.result;
                    previewAvatar.width = 250;
                    previewAvatar.height = 250;
                    previewAvatar.style.display = "block";
                }
                if (file) {
                    reader.readAsDataURL(file);
                } else {
                    previewAvatar.src = "";
                }
            }
            previewAvatarFile();
        </script>
    </head>
    
    <body>
         <!--Navbar-->
        <nav class="fixed-top navbar navbar-expand-lg home-navbar reverse-order">
            <!--Home icon-->
            <a class="navbar-brand whitewash-text" href="/">
                <img src="/res/homeIcon.png" width="30" height="30" class="d-inline-block align-top" alt="">
                RageMemes
            </a>
            <!--Search-->
            <form id="searchTag" action="/post/search" method="post">           
                <input class="searchbar" type="text" name="searchInput" placeholder="Search a tag..." value="{{searchInput}}" required>
                <button class="btn btn-primary" type="submit" id="search-button"><img src="/res/search.png" width="20" height="20s"></button>
            </form>
            <!--User dropdown-->
            {{#if user}}
            <div class="dropdown">
                <img src="/res/more.png" class="moreOptions nav-link whitewash-text right-floater" data-toggle="dropdown">
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="/" class="dropdown-item">Public memes</a></li>
                    <li><a href="/post/{{user.username}}/shared" class="dropdown-item">Shared with me</a></li>
                    <div class="dropdown-divider"></div>
                    <li><a href="/user/{{user.username}}" class="dropdown-item"><i class="fa fa-user"></i> My profile</a></li>
                    <li><a data-toggle="modal" data-target="#modalEditDetails" class="dropdown-item"><i class="fa fa-cog"></i> Settings</a></li>
                    <div class="dropdown-divider"></div>
                    <a href="/user/logout" class="dropdown-item"><i class="fa fa-sign-out"></i> Log out</a>
                </ul>
            </div>
            <a class="nav-link whitewash-text right-floater" href="" data-toggle="modal" data-target="#modalQuickUploadForm">Upload meme<span class="sr-only">(current)</span></a>
            <a class="nav-link whitewash-text right-floater" href="/user/{{user.username}}">{{user.username}}<span class="sr-only">(current)</span></a>
            {{#if user.filename}}
            <img src="/post/photo/{{user.filename}}" class="avatar">
            {{else}}
            <img src="/res/default.jpg" class="avatar">
            {{/if}}
            {{else}}
            <!--Login-->
            <a class="nav-link whitewash-text right-floater" href="/user/login">Log in<span class="sr-only">(current)</span></a>
            <!--Sign up-->
            <a class="nav-link whitewash-text right-floater" href="/user/signup">Sign up<span class="sr-only">(current)</span></a>
            {{/if}}
        </nav>
        
         <!--Main content-->
        <div id="main-content">
            <!--Modals-->
            <!--Quick upload-->
            <div class="modal fade" id="modalQuickUploadForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <!-- <button type="button" class="close" data-dismiss="modal" style="position:fixed;right:0;padding-right:10px;padding-top:5px;" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <br> -->
                        <center><img src="/res/uploading.gif" class="img-thumbnail" width=200px></center>
                        <div class="modal-header text-center">
                            <h4 class="modal-title w-100 font-weight-bold">Upload a meme!</h4>
                        </div>
                        <div class="modal-body mx-3">
                            <form id="uploadMeme" class="form-format" action="/post/upload" method="post" enctype="multipart/form-data">
                                <input type="file" id="uploadMemePic" onchange="previewFile()" accept="image/x-png,image/tiff,image/jpeg" name="img" required><br><br>
                                <img src="" id="preview" class="img-thumbnail" style="display: none;"><br>
                                <label for="defaultForm-title" class="modal-label">Title</label><br>
                                <input id="defaultForm-title" class="form-control validate" name="title" required>
                                <label for="defaultForm-title" class="modal-label">Description</label><br>
                                <input id="defaultForm-title" class="form-control validate" name="description" required>
                                <label for="defaultForm-title" class="modal-label">Tags</label><br>
                                <input id="defaultForm-title" class="form-control validate" name="tags">
                                <label for="defaultForm-title" class="modal-label">Viewing options</label><br>
                                <input class="radio-size" style="vertical-align: middle; margin: 2px;" type="radio" name="public" value="Public" onclick="javascript:publicCheck();" id="publicButton" required>Public
                                <input class="radio-size" style="vertical-align: middle; margin: 2px;" type="radio" name="public" value="Private" onclick="javascript:publicCheck();" id="privateButton" required>Private<br>
                                <div id="ifPublic" style="display:none">
                                    <label for="defaultForm-title" class="modal-label">Users to share with</label><br>
                                    <input id="defaultForm-title" class="form-control validate" name="permittedUsers">
                                </div>
                                <br><button class="btn btn-default" type="button" data-dismiss="modal" id="cancel-button">Cancel</button>
                                <button class="btn btn-default" type="submit" id="upload-button">Upload</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--Edit user details-->
            <div class="modal fade" id="modalEditDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h4 class="modal-title w-100 font-weight-bold">Editing your details</h4>
                        </div>
                        <div class="modal-body mx-3">
                            <form id="editDetails" class="form-format" action="/user/{{user._id}}/edit" method="post" enctype="multipart/form-data">
                                <label for="defaultForm-title" class="modal-label">Profile picture</label><br>
                                <input type="file" id="uploadAvatarPic" onchange="previewAvatarFile()" accept="image/x-png,image/tiff,image/jpeg" name="img"><br><br>
                                
                                {{#if user.filename}}
<!--                                <button type="button" class="close" onclick="javascript:revertAvatarFile()" style="position:fixed;right:70;padding-right:10px;padding-top:5px;" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                                <img src="/post/photo/{{user.filename}}" id="previewAvatar" style="display:block;"><br>
                                {{else}}
                                <img src="/res/default.jpg" id="previewAvatar" style="display:block;"><br>
                                {{/if}}
<!--                                <img src="" id="previewAvatar" class="img-thumbnail" style="display: none;"><br>-->
                                
                                <label for="defaultForm-title" class="modal-label">Email address</label><br>
                                <input id="defaultForm-title" class="form-control validate" name="email" value="{{user.email}}">
                                <label for="defaultForm-title" class="modal-label">About me</label><br>
                                <input id="defaultForm-title" class="form-control validate" name="briefDescription" value="{{user.briefDescription}}">
                                <br><button class="btn btn-default" type="button" data-dismiss="modal" id="cancel-button">Cancel</button>
                                <button class="btn btn-default" type="submit" id="upload-button">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--Default message-->
            {{#if results}}
            {{else}}
                <div class="memes-all">
                        <div class="no-results">
                                <img src="/res/noResults.png" class="image">
                                <h1 class="display-4" style="text-align: left;">Welp.</h1>
                                <h2>No results found.</h2>
                        </div>
                </div>
            {{/if}}
            
            <!--Posts-->
            <div class="memes-all">
                {{#each results}}
                    <div class="meme-container">
                        <div class="meme-post">
                            <h1 class="display-4" style="text-align: left;"><a href="/post/meme/{{_id}}">{{title}}</a></h1>
                            <h3 style="text-align: left;">Posted by <a href="/user/{{user.username}}">{{user.username}}</a></h3>
                            <a data-id="{{_id}}" href="/post/meme/{{_id}}"><img src="/post/photo/{{filename}}" class="image"></a>
                        </div>
                    </div>
                
                <div class="{{#ifLast @index ../limit}}
                  last
                {{else}}
                  notLast
                {{/ifLast}}">
                    {{#if @last}}
                    <form action="/view/{{../nextLimit}}">
                        <button class="btn btn-lg btn-primary btn-block input-width" id="submitButton" type="submit">View more</button>
                    </form>
                    {{/if}}</div>
                {{/each}}
            </div>
        </div>
    </body>
</html>
