<html lang="en">
    <head>
        <script src="/jquery-3.3.1.js"></script>
        
        <title>{{post.title}} - RageMemes</title>
        <!-- Bootstrap core CSS -->
        <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->
        <link href="../css/bootstrap.css" rel="stylesheet">
        <!--Bootstrap JS-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
        <!-- Custom styles for this template -->
        <link href="../css/viewMeme.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <script>
            function publicCheck() {
                if (document.getElementById('privateButton').checked) {
                    document.getElementById('ifPublic').style.display = 'block';
                } 
                else if(document.getElementById('publicButton').checked) {
                    document.getElementById('ifPublic').style.display = 'none';
               }
            }
        </script>
                    
        <script>
            function previewFile() {
                var preview = document.querySelector('img[id=preview]');
                var file = document.querySelector('input[type=file]').files[0];
                var reader = new FileReader();

                reader.onloadend = function() {
                    preview.src = reader.result;
                    preview.width = 250;
                    preview.height = 250;
                    preview.style.display = "block";
                }
                if (file) {
                    reader.readAsDataURL(file);
                } else {
                    preview.src = "";
                }
            }
            previewFile();
        </script>
        
        <!-- <script>
            $(document).ready(function(){
                //when the user clicks on button.delete
                $("button.delete").click(function(){
                    //get attr data-id
                    var id = $(this).attr("data-id");
                    
                    //assign to input#deleteid
                    $("input#deleteid").val(id);
                    
                    //submit form#deleteticket
                    $("form[action=deleteticket]").submit();
                });
                
                //when the user clicks on button.edit
                $("button.edit").click(function(){
                    var id = $(this).attr("data-id");
                    $("input#viewid").val(id);
                    $("form[action=viewticket]").submit();
                });
                
                $("input[value=Add]").click(function(e){
                    e.preventDefault(); //prevents refreshing of page
                    //use ajax to send form instead
                    $.ajax({
                        url: "addticket",
                        method: "post",
                        data: {
                            event: $("input[name=event]").val(),
                            category: $("input[name=category]").val(),
                            price: $("input[name=price]").val()
                        },
                        success: function(newdoc){
                            console.log(newdoc);
                            
                            //create div for newdoc
                            var div = document.createElement("div");
                            div.innerHTML += "Event: " + newdoc.event + "<br>"
                            div.innerHTML += "Price: " + newdoc.price + " PHP <br>"
                            div.innerHTML += "Category: " + newdoc.category + "<br>"
                            
                            var buttonedit = document.createElement("button");
                            $(buttonedit).addClass("edit");
                            $(buttonedit).attr("data-id", newdoc._id);
                            $(buttonedit).text("Edit");
                            
                            var buttondelete = document.createElement("button");
                            $(buttondelete).addClass("delete");
                            $(buttondelete).attr("data-id", newdoc._id);
                            $(buttondelete).text("Delete");
                            
                            $(div).append(buttonedit);
                            $(div).append(buttondelete);
                            
                            $("div.content").append(div);
                        }
                    });
                })
            });
        </script> -->
    </head>
    
    <body>
         <!--Navbar-->
        <nav class="fixed-top navbar navbar-expand-lg home-navbar reverse-order">
            <!--Home icon-->
            <a class="navbar-brand whitewash-text" href="/home">
                <img src="/res/homeIcon.png" width="30" height="30" class="d-inline-block align-top" alt="">
                RageMemes
            </a>                         
            <!--Search-->           
            <input class="searchbar" type="search" placeholder="Search">
            <button class="btn btn-primary" type="submit"><img src="/res/search.png" width="20" height="20s"></button>                        
            <!--User dropdown-->
            {{#if user}}
            <div class="dropdown">
                {{#if user.filename}}
                <img src="/photo/{{user.filename}}" class="avatar" data-toggle="dropdown">
                {{else}}
                <img src="/res/default.jpg" class="avatar" data-toggle="dropdown">
                {{/if}}
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#" class="dropdown-item">My profile</a></li>
                    <li><a href="#" class="dropdown-item">Settings</a></li>
                    <a href="/logout" class="dropdown-item">
                        <div class="dropdown-divider"></div>
                        Log out
                    </a>
                </ul>
            </div>
            <a class="nav-link whitewash-text right-floater" href="/user/{{user.username}}">{{user.username}}<span class="sr-only">(current)</span></a>
            <a class="nav-link whitewash-text right-floater" href="" data-toggle="modal" data-target="#modalQuickUploadForm">Upload meme<span class="sr-only">(current)</span></a>
            {{else}}
            <!--Login-->
            <a class="nav-link whitewash-text right-floater" href="/login">Log in<span class="sr-only">(current)</span></a>
            <!--Sign up-->
            <a class="nav-link whitewash-text right-floater" href="/signup">Sign up<span class="sr-only">(current)</span></a>
            {{/if}}
        </nav>
        
         <!--Main content-->
        <div id="main-content">
            <!--Quick upload-->
            <div class="modal fade" id="modalQuickUploadForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <br>
                        <center><img src="../res/uploading.gif" class="img-thumbnail" width=200px></center>
                        <div class="modal-header text-center">
                            <h4 class="modal-title w-100 font-weight-bold">Upload a meme!</h4>

                            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button> -->

                        </div>
                        <div class="modal-body mx-3">
                            <form id="uploadMeme" class="form-format" action="/upload" method="post" enctype="multipart/form-data">
                                <input type="file" id="uploadMemePic" onchange="previewFile()" accept="image/x-png,image/tiff,image/jpeg" name="img" required><br><br>
                                <img src="" id="preview" class="img-thumbnail" style="display: none;"><br>
                                <label for="defaultForm-title" class="modal-label">Title</label><br>
                                <input id="defaultForm-title" class="form-control validate" name="title" required>
                                <label for="defaultForm-title" class="modal-label">Description</label><br>
                                <input id="defaultForm-title" class="form-control validate" name="description" required>
                                <label for="defaultForm-title" class="modal-label">Tags</label><br>
                                <input id="defaultForm-title" class="form-control validate" name="tags">
                                <label for="defaultForm-title" class="modal-label">Viewing options</label><br>
                                <input class="radio-size" style="vertical-align: middle; margin: 2px;" type="radio" name="public" value="Public" onclick="javascript:publicCheck();" id="publicButton" required>Public
                                <input class="radio-size" style="vertical-align: middle; margin: 2px;" type="radio" name="public" value="Private" onclick="javascript:publicCheck();" id="privateButton" required>Private<br>
                                <div id="ifPublic" style="display:none">
                                    <label for="defaultForm-title" class="modal-label" name="permittedUsers">Users to share with</label><br>
                                    <input id="defaultForm-title" class="form-control validate">
                                </div>
                                <br><button class="btn btn-default" type="submit" id="upload-button">Upload</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--Post-->
            <div class="container meme-container">
                <div class="meme-post">
                    <!--Main details-->
                    <h1 class="display-4" style="text-align: left; color:#3E3E3B;">{{post.title}}</h1>
                    <img src="/photo/{{post.filename}}" class="image"> <!--fix link-->
                    <div class="details">
                        <h2 id="description">{{post.description}}</h2>
                        
                        <!--Upload details-->
                        <table border="0">
                            <tr>
                                <td id="tableAvatar" rowspan="5">
                                    {{#if post.user.filename}}
                                    <a href="/user/{{post.user.username}}"><img src="/photo/{{post.user.filename}}" class="avatar2"></a>
                                    {{else}}
                                    <a href="/user/{{post.user.username}}"><img src="/res/default.jpg" class="avatar2"></a>
                                    {{/if}}
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><a href="/user/{{post.user.username}}" value="{{post.user.username}}">{{post.user.username}}</a></td>
                            </tr>
                            <tr>
                                <td><h2>Published on {{formatDate post.date}}</h2></td>
                            </tr>
                            <tr>                                
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>
                                    <h2 class="tags">
                                         <i class="fa fa-tags"></i> {{#each post.tags}}
                                        {{this}}{{#unless @last}},{{/unless}}
                                        {{/each}}
                                    </h2>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

